@font-face {
    font-family: Poppins;
    src: url(/assets/fonts/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
}

section {
    width: 100%;
    height: 100%;
}

.image-bubble {
    width: 100%;
    border-radius: 15rem;
}